* {
  box-sizing: border-box;
}
body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
}

.header {
  padding: 80px;
  text-align: center;
  background: #523873;
  color: white;
}

.header h1 {
  font-size: 40px;
}

.navbar {
  text-align: center;
  overflow: hidden;
  background-color: rgb(129, 125, 125);
  top: 0;
}

.navbar a {
  display: inline-block;
  color: white;
  text-align: center;
  padding: 14px 20px;
  text-decoration: none;
}

.middle-section {
  background-color: #523873;
  border: 1px solid #000;
  padding: 0.5rem;
  display: flex;
}

#summary-left,
#summary-right {
  background-color: rgba(10, 10, 10, 0.5);
  border: 1px solid #fff;
  padding: 0.5rem;
  flex-grow: 1;
  color: #fff;
}

.doumo-img {
  width: 500px;
}
