* {
  box-sizing: border-box;
}
body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
}

.header {
  padding: 80px;
  text-align: center;
  background: #523873;
  color: white;
}

.header h1 {
  font-size: 40px;
}

.navbar {
  text-align: center;
  overflow: hidden;
  background-color: rgb(129, 125, 125);
  /* position: sticky;
  position: -webkit-sticky; */
  top: 0;
}

.navbar a {
  display: inline-block;
  color: white;
  text-align: center;
  padding: 14px 20px;
  text-decoration: none;
}
